.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  z-index: 2;
  margin: 0 10%;
}

.logo {
  width: 90px;
  height: 90px;
  filter: drop-shadow(4px 4px 4px #000000);
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 28px;
  list-style: none;
}

.menuItems a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 12px 20px;
  background-color: #3d3e42;
  border-radius: 20px;
  box-shadow: 4px 4px 20px -8px #000000;
  transition: 0.3s ease-in-out;
}

.menuItems a:hover {
  background-color: #12f7d6;
}

.menuIcon {
  font-size: 28px;
  align-items: center;
  text-align: center;
  display: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin: 0 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }
  .menuIcon {
    display: block;
    cursor: pointer;
    padding: 5px;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    background-color: #3d3e42;
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuItems a {
    box-shadow: none;
    border-radius: 0;
  }

  .menuOpen {
    display: flex;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
}
